* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* height is needed for align-items. */
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
}

.hand {
  width: 640px;
  height: 320px;
  position: relative;
}

.hand::before {
  position: absolute;
  content:"";
  background-color: black;
  height: 180px;
  width: 560px;
  border-radius: 160px 40px;
  top: 150px;
  filter: blur(40px) opacity(0.3);
}

.palm {
  position: absolute;
  background-color: #b88e57;
  border-radius: 40px 160px;
  height: 240px;
  width: 320px;
  right: 0px;
}

.thumb {
  position: absolute;
  background-color: #b88e57;
  height: 128px;
  width: 380px;
  border-radius: 120px 80px 80px 40px;
  bottom: 50px;
  right: -4px;
  transform: rotate(-20deg);
  transform-origin: 280px 71px;
  border-bottom: solid 7px rgba(0, 0, 0, 0.3);
  border-left: solid 7px rgba(0, 0, 0, 0.3);
}

.thumb::before {
  content: "";
  height: 75px;
  width: 75px;
  position: absolute;
  background-color: #b8823ce1;
  border-radius: 120px 10px 10px 40px;
  bottom: 5px;
  left: 20px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
  border-right: solid 2px rgba(0, 0, 0, 0.2);
  border-left: solid 2px rgba(255, 255, 255, 0.2);
}

.finger {
  position: absolute;
  height: 135px;
  width: 256px;
  background-color: #b88e57;
  right: 210px;
  bottom: 180px;
  --scale: calc(1 - (5 - var(--n)) * 0.2);
  transform-origin: 100% 80px;
  transform: rotate(10deg) scale(var(--scale));
  filter: brightness(calc(100% - (5 - var(--n)) * 10%));
}

.finger:nth-child(3) {
  --n: 2;
}

.finger:nth-child(4) {
  --n: 3;
}

.finger:nth-child(5) {
  --n: 4;
}

.finger:nth-child(6) {
  --n: 5;
}

.finger::before {
  content: "";
  position: absolute;
  background-color: #b88e57;
  height: 110px;
  width: 325px;
  right: 130px;
  top: 96px;
  border-radius: 120px 80px;
  transform: rotate(-60deg);
}

.finger::after {
  content: "";
  height: 20px;
  width: 82px;
  position: absolute;
  background-color: #b8823ce1;
  border-radius: 100px 25px 25px 20px;
  top: 200px;
  right: 336px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
  border-right: solid 2px rgba(255, 255, 255, 0.2);
  border-left: solid 2px rgba(255, 255, 255, 0.2);
  transform: rotate(-60deg);
}



